* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://wallpaperaccess.com/full/396709.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  /* align items center vertically and horizontally  */
  .container{
    display: flex;
    flex: 50%;
    justify-content: right;
    margin-right: 200px;
    align-items:center !important;
    height: 100vh;
  }
  .content{
    display:inline-block;
    flex: 50%;
    justify-content: left;
    margin-top: 400px;
    margin-left: 200px;
    margin-right: 100px;
    align-items: center;
    height: 100vh;
  }
  .form{
    width: 350px;
    height: 370px;
    background-color: rgba(63, 58, 58, 0.308);
    box-shadow: 0 5px 30px black;
  }
  .btn button {
    padding: 3px;
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
  }
  .formGroup{
    display: flex;
    justify-content: center;
  }
  .formGroup input{
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  input:focus {
    outline: none !important;
    border-bottom: 2px solid rgb(91, 243, 131);
    font-size: 17px;
    font-weight: bold;
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .checkBox{
    display: flex;
    justify-content: center;
    margin: 16px!important;
  }
   
  #checkbox{
    margin-right: 10px;
    height: 15px;
    width: 15px;
  }
  .text{
    color: rgb(199, 197, 197);
    font-size: 13px;
  }
  .btn2{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(10, 136, 43);
    border-style: none;
    color: white;
    font-weight: 600;
  }
  .btn2:hover{
    background-color: rgba(10, 136, 43, 0.5);
  }
  .btn button:hover{
    border-bottom: 2px solid rgb(91, 243, 131);
  }
   
  /* hide signup form */
  .login{
    display: none;
  }
   
  /* Login form code */
  .login{
    margin-top: 40px;
  }
  .login .checkBox{
    margin-top: 30px !important;
  }
  h1{
    color:white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  h2{
    color:white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  main-gradient {
    background: rgba(10, 136, 43, 0.5);
    background: -webkit-linear-gradient(45deg, rgba(10, 136, 43, 0.5), rgb(10, 136, 43));
    background: linear-gradient(45deg, rgba(10, 136, 43, 0.5), rgb(10, 136, 43));
  }

  shadow-box {
    background-color: rgb(10, 136, 43);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }

  /*-------------Reset-------------*/
  button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  button:focus,
  input:focus {
    outline: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  /*-------------Layout-------------*/

  section {
    height: 100vh;
  }

  #home {
    color: #aaa;
  }

  #about {
    color: #aaa;
  }

  #work {
    color: #888;
  }

  #contact {
    color: #666;
  }
  .skew {
    transform: skew(-20deg);
  }

  .un-skew {
    transform: skew(20deg);
  }
  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

  }

  #nav {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
  }
  .nav-visible {
    height: 100%;
    overflow: auto;
  }

  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }

  .nav-link,
  .logo {
    padding: 0 1em;
  }

  span.gradient {
    background: rgba(10, 136, 43, 0.5);
    background: -webkit-linear-gradient(45deg, rgba(10, 136, 43, 0.5), rgb(10, 136, 43));
    background: linear-gradient(45deg, rgba(10, 136, 43, 0.5), rgb(10, 136, 43));
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }

  h1.logo:a, a:active, a:hover, a:visited {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
    text-decoration: none;
  }
  h1.logo:a, a:active, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
  }
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid  rgb(10, 136, 43);
  }

  #a:link, #a:visited, #a:active {
    text-decoration: none;
    color: rgb(91, 243, 131);
  }

  a:hover {
    text-decoration: underline;
  }

  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .btn-nav {
    color: rgb(91, 243, 131);
    padding-left: 2em;
    padding-right: 2em;
  }

  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }

    #nav {
      overflow: hidden;
      flex-direction: row;
    }

    .nav-link {
      border-top: none;
    }

    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }

    .btn-nav {
      display: none;
    }

    .nav:active {
      color: rgb(10, 136, 43);
      }
    }

    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }

    .nav-link {
      transform: skew(-20deg);
      color: white;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }

    a:hover.nav-link:not(.active) {
      color: white;
      background: rgb(10, 136, 43);
    }

  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 5em;
    }
  }
