:root {
    --primary-green: rgb(4, 66, 21);
    --white: #ffffff;
    --bg-overlay: rgba(30, 31, 27, 0.788);
    --btn-red: #740000;
    --btn-red-hover: #ee3a01;
    --btn-blue: #08316d;
    --btn-light-blue-hover: #21a7e0;
    --shadow: rgba(30, 31, 27, 0.788);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body,
  html,
  #app {
    height: 100%;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://wallpaperaccess.com/full/396709.jpg);
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.5em;
  }
  
  /******* 
   * APP *
   *******/
  
  #app {
    background: var(--bg-overlay);
    overflow-y: scroll;
  }
  
  .app-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(Images/indianFlag.jfif) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
  }
  
  /********** 
   * HEADER *
   **********/
  
  header {
    background: var(--primary-green);
    padding: 1rem 2rem;
  }
  
  .logo {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo h1 {
    font-size: 3rem;
  }
  .logo img {
    margin-right: 1rem;
    width: 4rem;
  }
  
  /******** 
   * MAIN *
   ********/
  
  main {
    height: 100%;
  }
  
  .cards {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 100px 100px 100px;
    margin:0,auto;
  }
  
  /* Card */
  .card {
    width: 30rem;
    border: 2px solid var(--primary-green);
    overflow: hidden;
    box-shadow: 15px 15px 6px var(--shadow);
    transition: all 0.5s ease;
    cursor: pointer;
  }
  
  .card:first-of-type {
    margin-bottom: 5rem;
  }
  
  /* Card image */
  .card-image {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    vertical-align: middle;
  }
  
  /* Card information */
  .card-info {
    display: flex;
    justify-content: space-evenly;
    background: var(--white);
    color: var(--primary-green);
    padding: 2rem 0;
  }
  .card:hover{
    transform: translateY(-2rem);
  }
  .candidate-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
  
  .votes-number-modi,
  .votes-number-rahul {
    font-weight: 700;
    font-size: 2.5rem;
  }
  
  .votes-text {
    font-size: 1rem;
    font-weight: 600;
  }
  
  /* Line */
  .line {
    width: 0.1rem;
    background: var(--primary-green);
  }
  
  /* Candidate info */
  .candidate-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .candidate-name {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .candidate-party {
    font-size: 1rem;
    font-weight: 600;
  }
  
  /* Card button */
  .card-btn {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0;
    color: var(--white);
    cursor: pointer;
    border-top: 2px solid var(--primary-green);
  }
  
  .btn-modi,
  .btn-rahul {
    transition: all 0.5s ease;
  }
  
  .btn-modi {
    background: var(--btn-red);
  }
  .btn-modi:hover{
    background: var(--btn-red-hover);
  }
  .btn-rahul {
    background: var(--btn-blue);
  }
  .btn-rahul:hover{
    background: var(--btn-light-blue-hover);
  }
  /*POP UP*/
/*body {
  background:#ddd;
  font-family:"Raleway";
}
.bottom-right {
  position:absolute;
  bottom:20px;
  right:20px;
}
.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.popup {
  width:350px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #34f234;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
} 
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn {
  margin-top:15px;
}
.popup .dismiss-btn button {
  padding:10px 20px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color:#111;
  background:#f5f5f5;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}*/
  